api/version.txt
cli/version.txt
_build
db
deps
.env
erl_crash.dump
examples.txt
*.ez
log
pingaling.bin
.rakeTasks
rubyc
tmp
vendor/bundle

# Files matching config/*.secret.exs pattern contain sensitive
# data and you should not commit them into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets files as long as you replace their contents by environment
# variables.
*.secret.exs
